<script>
    let isNew = false;
    let res = [];
    let category = '';
    let name = '';
    let description = '';
    let picture = '';
    let selectedIndex = null;
    let isDisabled = true;
    let selectedItem = {
        id : null,
        category : category,
        name : name,
        description : description,
        picture : picture
    }
    let buttonText = 'New product';
    fetch(`https://hur.webmania.cc/products.json`).then(response => {
        response.json().then(data => {
            res = data.products;
            console.log(res);
        })
    });

    function saveNew() {
        if (selectedIndex !== null){
            res[selectedIndex] = selectedItem;
            selectedIndex = null;
            buttonText = 'List view'
        }else{
            selectedItem = {id: res.length+1, ...selectedItem}
            res.push(selectedItem);
        }
        isNew = !isNew;
        selectedItem = {};
    }
    function switchAction(){
        isNew = !isNew;
        if(isNew) {
            buttonText = 'List view'
            isDisabled = false;
        } else {
            buttonText = 'New product'
            isDisabled = false;
        }
        selectedItem = {};
        selectedIndex = null;
    }

    function deleteItem(index) {
        res.splice(index,1);
        console.log(index);
        console.log(res);
        res = res;
    }

    function editItem(index) {
        selectedItem = res[index];
        selectedIndex = index;
        isNew = !isNew;
        isDisabled = false;
        buttonText = 'List view'
    }

    function viewItem(index) {
        selectedItem = res[index];
        isNew = !isNew;
        isDisabled = true;
        buttonText = "Back";
    }
</script>
<button class="btn btn-primary" on:click={switchAction}>{buttonText}</button>
{#if isNew}
    <form>
        <div>
            <label for="category" >Category</label>
            <input class="form-control" disabled="{isDisabled}" bind:value={selectedItem.category} type="text" id="category">
        </div>
        <div>
            <label for="name">Name</label>
            <input class="form-control" disabled="{isDisabled}" bind:value={selectedItem.name} type="text" id="name"><br>
        </div>
        <div>
            <label for="description">Description</label>
            <input class="form-control" disabled="{isDisabled}" bind:value={selectedItem.description} type="text" id="description"><br>
        </div>
        <div>
            <label for="pictureUrl">Picture URL</label>
            <input class="form-control" disabled="{isDisabled}" bind:value={selectedItem.picture} type="text" id="pictureUrl"><br>
        </div>
        {#if !isDisabled }
        <button class="btn btn-success" on:click={saveNew}>Save</button>
        {/if}
    </form>
{:else}
    <table>
        <tr>
            <th scope="col">Category</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Picture URL</th>
            <th scope="col">Picture</th>
            <th scope="col">Actions</th>
        </tr>
        {#each res as item, i}
            <tr class="d-table-row">
                <td>{item.category}</td>
                <td>{item.name}</td>
                <td>{item.description}</td>
                <td>{item.picture}</td>
                <td><img class="picture" src="{item.picture}" alt="{item.name}"></td>
                <td>
                    <button class="btn btn-danger" on:click={() => deleteItem(i)}>Delete</button>
                    <button class="btn btn-warning" on:click={() => editItem(i)}>Edit</button>
                    <button class="btn btn-primary" on:click={() => viewItem(i)}>View</button>
                </td>
            </tr>
        {/each}
    </table>
{/if}
